<div  id="toolDetailsCtr" ng-show="tool" ng-controller="ToolDetailsController">
    <h1 class="toolHdr text-center">{{tool.id}} - {{details.name}}</h1>
    <img src="imgs/icons/Tool-Icon-1.jpg">
    <p ng-if="details.name">Tool Name: {{details.name}}</p>
    <p ng-if="details.version">Tool Version: {{details.version}}</p>
    <p ng-if="details.description">Tool Description: {{details.description}}</p>
    <p>Tool Summary: {{details.summary}}</p>

    <button type="button" ng-click="showBets()" class="btn btn-danger">Show Bets</button>
    <div ng-show="isBetsDisplayed">
        <h2>BETS</h2>
        <ul>
            <li ng-repeat="(key, value) in details">
                {{key}} - {{value}}
            </li>
        </ul>
        <h2>BETS JSON</h2>
        {{details}}
        <div class="col-md-12" ng-controller="SimilarToolsController">
            <h1>Similar Tools</h1>
            <div ng-repeat="tool in similarTools">
                <h4>{{tool.ID}} - {{tool.name}}</h4>
            </div>
        </div>
    </div>

</div>

