<div  id="toolDetailsCtr" ng-show="tool" ng-controller="ToolDetailsController">
    <h1 class="text-center">Tool Details</h1>
    <h4>Tool ID: {{tool.id}}</h4>

    <p>Tool Name: {{details.name}}</p>
    <p>Tool Version: {{details.version}}</p>
    <p>Tool Description: {{details.description}}</p>
    <p>Tool Summary: {{details.summary}}</p>

    <button type="button" ng-click="showBets()" class="btn btn-danger">Show Bets</button>
    <div ng-show="isBetsDisplayed">
        <h2>BETS</h2>
        <p>{{details}}</p>
    </div>
</div>